[Unit]
Description=Gyan KPI Core Agent application for Betacom to RANDOM Data environment scrape data to prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/gyan/core/gyan-core-agent-rand/gyan-core-agent-rand.sh

[Install]
WantedBy=multi-user.target
